*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto;
}
.container-fluid{
    display: grid;
    justify-content: start;
}
.menu {
    display: grid;
    gap: 5px;
    justify-content: end;
    grid-row: 1;
    grid-column: 6;
}
a {
    text-decoration: none; 
}
    
li {
    list-style: none;
    display: flex;
    gap: 1em;
}

section{
    width: 50%;
}

.img img{
    width: 90%;
}

h1{
    padding: 50px 20px;
    width: 60px;
}

.descripcion p {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.opciones input{

}

.opciones button{
    position: absolute;
    right: 10px;
    margin-right: 70px;
}

aside{
    position: absolute;
    right: 12px;
    width:50%;;
    top: 277px;
}
